* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  max-width: 1400px;
  display: block;
  margin: auto;
  min-height: 100vh;
  background: #191919;
  font-family: sans-serif;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a1a1a;
  color: white;
}
.home-section {
  width: 100%;
  height: 100vh;
  display: flex;
}
.home-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  opacity: 0.2;
}
/* text css above hero image*/
.hero_title {
  font-size: 4.5rem;
}
.hero_desc {
  font-size: 2rem;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.about {
  align-items: center;
  color: white;
  width: 50rem;
}

.header-about {
  color: white;
  align-items: center;
}
